.m-card {
    width: 100%;
    height: 100%;
    min-height: 2em;
    overflow: hidden;
    border-radius: 2em;
    box-sizing: border-box;
    background: #15161a;
    padding: 1em;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    &:hover {
        background: lighten(#15161a, 5%);
    }
    .m-icon {
        position: absolute;
        top: 1.5em;
        left: 0;
        opacity: 0.7;
        width: 70px;
        @media screen and (max-width: 1600px) {
            top: 0.5em;
            left: 0;
            width: 50px;
        }
    }
    .cover {
        width: 250px;
        height: 250px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 50%;
        position: relative;
        @media screen and (max-width: 1600px) {
            width: 180px !important;
            height: 180px !important;
        }
        img {
            width: 100%;
            border-radius: 2em;
        }
    }
    .m-card-info {
        margin: 1em 2em;
        h3 {
            font-size: 22px;
            font-weight: 300;
            letter-spacing: 2px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @media screen and (max-width: 1600px) {
                font-size: 18px;
            }
        }
        .info-bar {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #565656;
            span {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            i {
                margin-right: 0.5em;
                font-size: 24px;
            }
            .f {
                color: #4ebe86 !important;
            }
            .p {
                color: #f15224 !important;
            }
        }
    }
}
.grad-card {
    // background-color: #21d4fd;
    background: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);

    width: 100%;
    border-radius: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em;
    color: #fff;
    cursor: pointer;
    height: 100%;
    h3 {
        font-size: 36px;
        font-weight: 700;
        margin-top: 1.5em;
    }
    p {
        font-size: 16px;
    }
    .tracks {
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        max-height: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        width: 100%;
        font-weight: 300;
        font-size: 18px;
        span {
            letter-spacing: 2px;
            opacity: 0.8;
        }
        .spot {
            width: 5px;
            height: 5px;
            background: #fff;
            opacity: 0.5;
            display: inline-block;
            border-radius: 50%;
            margin: 0 2px;
        }
    }
}

.simple-card {
    display: flex;
    // align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: left;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 1em;
    background: #181818;
    img {
        width: 100%;
        border-radius: 1em;
        margin-bottom: 0.5em;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    h2 {
        margin: 0;
    }
    span {
        color: #707070;
        text-align: left;
        font-weight: 600;
    }
}

.f {
    color: #4ebe86 !important;
}
.p {
    color: #f15224 !important;
}
.animate {
    animation: animate 3s ease-in-out forwards;
    @keyframes animate {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

.noData {
    text-align: center;
    margin-top: 2em;
    h1 {
        font-size: 6vw;
        color: #2a2b31;
        margin: 1em auto;
    }
    p {
        font-size: 2vw;
        color: lighten(#2a2b31, 10%);
        margin: 1em 0;
    }
}

.h-scroll {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    display: inline-block;
    overflow-y: hidden;
    white-space: nowrap;
}

.section-title {
    font-size: 22px !important;
    margin: 1em 0 !important;
}

.mat-menu-panel {
    background: #000 !important;
    color: #fff !important;
    .mat-menu-item {
        color: #fff;
    }
}
